@media (max-width: 2500px) {
  .gallery-container {
    padding-right: 112px;
  }
}

@media (max-width: 1800px) {
  .footer__btn {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 1610px) {
  .nav__item:not(:first-child) {
    margin-left: 40px;
  }
  .hero__link:not(:first-child) {
    margin-left: 50px;
  }
  .footer__btn {
    margin-top: 20px;
    margin-left: 0;
  }

  .swiper-pagination-container {
    display: none;
  }
}

@media (max-width: 1400px) {
  .nav__item:not(:first-child) {
    margin-left: 24px;
  }
  .hero__link:not(:first-child) {
    margin-left: 20px;
  }
  .swiper-pagination-container {
    display: none;
  }
}

@media (max-width: 1300px) {
  .nav {
    display: none;
  }

  .event__right,
  .event-btn-next {
    display: none;
  }
  .swiper-pagination-container {
    display: none;
  }
  .swipper-gallery {
    margin-left: 0;
  }
  .sliders::before {
    background-position: center;
  }
  .burger__line-1 {
    width: 36px;
  }

  .footer__maps {
    max-width: 1200px;
  }
  .catalog__right {
    margin-left: 50px;
  }
  .swiper-container-more {
    max-width: 615px;
  }
  .catalog__name:not(:last-child) {
    margin-right: 65px;
  }
  .catalog__left-img {
    margin-bottom: 32px;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-d {
    padding-right: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 24px;
  }

  .header-path {
    display: flex;
    justify-content: space-between;
  }
  .header-path__btns {
    display: none;
  }

  .burger__wrap {
    display: flex;
  }

  .burger-w {
    display: flex;
    z-index: 5;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .burger__list {
    margin-bottom: 176px;
  }

  .burger__nav {
    display: inline-block;
    flex-direction: column;
  }

  .scroll-fix {
    position: absolute;
    /* Вся магия в этой строчке ;-) */
    width: calc(100vw - 100%);
  }

  .burger__menu {
    width: 100%;
    height: 1000px;
    background-color: #666666;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 105vh;
    padding: 97px 33px 34px 48px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    transform: translateX(-101%);
    overflow: auto;
  }

  .burger__object {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

  .burger__personal {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    padding: 21px 97px 18px 88px;
    color: white;
    border: 2px solid #9d5cd0;
    border-radius: 30px;
    transition: 0.3s ease-in;
    cursor: pointer;
    margin-bottom: 50px;
  }

  .burger__personal:focus-visible {
    background-color: #9d5cd0;
  }

  .burger__personal-text {
    transition: 0.3s ease-in-out;
  }

  .burger__personal:active .burger__personal-text {
    color: #7943a4;
  }

  .burger__btn svg {
    margin-right: 10px;
  }

  .burger__line {
    transition: all 0.3s ease-in-out;
  }

  .is-active-btn-burger {
    transform: none;
    transition: transform 0.3s ease-in-out;
  }

  .is-close-btn-burger .burger__line-1 {
    transform: translateY(-50%) rotate(45deg);
    transform-origin: left;
  }

  .is-close-btn-burger .burger__line-2 {
    opacity: 0;
    transform: translateX(-100%);
  }

  .is-close-btn-burger .burger__line-3 {
    width: 38px;
    transform: translatey(-50%) rotate(-45deg);
  }

  .is-close-btn-burger .burger__line-3 {
    transform-origin: left;
  }

  .hero__path {
    display: none;
  }

  .burger__link {
    font-family: "Open Sans";
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
  }

  .logo {
    width: 188px;
    height: 44px;
  }

  .header__search-btn {
    margin-top: -7px;
    display: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/adaptive__img/Search__1024.svg);
  }

  .header__form {
    display: flex;

    position: absolute;
    width: 340px;
    height: 60px;
    top: 0;
    margin-top: 2%;
    right: 3%;
    padding: 9px 0px 16px 16px;
    border-radius: 16px;
    background: black;
    z-index: 4;
    transform: scaleX(0);
    transition: 0.6s ease;
    transform-origin: right;
    align-items: center;
  }

  .header__search-open {
    width: 220px;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
  }

  .burger__link {
    position: relative;
    transition: all 0.4s ease;
  }

  .burger__link::before {
    content: "";
    transition: background-color 0.4s ease;
  }

  .burger__link:focus-visible::before {
    content: "";
    position: absolute;
    padding: 6px 40px 18px 30px;
    top: 1px;
    left: -8px;
    right: -7px;
    bottom: 0;
    background-color: #7943a4;
    z-index: -1;
  }

  .burger__link:hover {
    color: #c283f3;
  }

  .burger__link:active {
    color: #7943a4;
  }

  .header__close-btn {
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-image: url(/img/adaptive__img/close__btn.svg);
    background-repeat: no-repeat;
    transition: 0.3s ease-in;
  }

  .header__close-btn:active {
    background-image: url(/img/adaptive__img/close__btn__active.svg);
    background-repeat: no-repeat;

    transition: 0.3s ease-in;
  }

  .active {
    transform: scaleX(100%);
    transition: 0.6s ease;
  }

  .hero__wrap {
    padding: 112px 0 115px 0;
    width: 100%;
    margin-left: 0px;
  }

  .hero__head {
    width: 64%;
    margin-bottom: 13px;
  }

  .hero__text {
    width: 72%;
  }

  .hero__rs {
    margin-top: 134px;
    padding: 21px 34px 25px 36px;
  }

  .hero-img-path {
    background-size: cover;
  }

  .hero-img-one {
    background-image: url(/img/adaptive__img/hero__img__1024-1.jpg);
  }

  .hero-img-two {
    background-image: url(/img/adaptive__img/hero__img__1024-2.jpg);
  }
  .hero-img-three {
    background-image: url(/img/adaptive__img/hero__img__1024-3.jpg);
  }

  .about {
    padding-top: 88px;
  }
  .about__text {
    width: 99%;
  }

  .gallery {
    padding-bottom: 80px;
    background-image: url(/img/adaptive__img/gallery__background__1024.png);
  }

  .gallery__H {
    flex-wrap: nowrap;
  }

  .gallery__wrap {
    min-width: 280px;
    margin-right: 52px;
  }

  .choices__list--single {
    min-width: 20px;
  }

  .choices__inner {
    padding: 5.5px 7.5px 8px 10px;
    min-height: 42px;
    width: 100%;
  }
  .gallery__head-f {
    font-family: "Open Sans";
  }
  .choices[data-type*="select-one"]::after {
    content: "";
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 6.5%;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
    background-image: url(/img/gallery__arrow.svg);
  }

  .swiper-right-btns {
    margin-left: 0;
  }
  .swiper-container-more {
    padding-top: 15px;
  }

  .sliders::after {
    bottom: 34px;
  }

  .sliders::before {
  }
  .grapper {
    margin-left: 0;
  }

  .gallery__down {
    margin-top: 113px;
  }

  .catalog__right {
    width: calc(930 / 1920 * 100%);
  }
  .ui-accordion .ui-accordion-header {
    padding: 20px 8px 22px 0px;
  }

  .catalog__text {
    width: 100%;
  }

  .catalog__path {
    flex-wrap: nowrap;
  }

  .ui-accordion .ui-accordion-content {
    height: 100%;
    padding: 25px 0 23px 0;
    flex-wrap: wrap;
  }

  .catalog__s {
    display: block;
  }

  .catalog__jobs {
    display: none;
  }

  .catalog__name {
    margin-right: 0;
  }

  .catalog__name:not(:last-child) {
    margin-right: 58px;
  }
  .catalog__painter {
    font-weight: 500;
  }

  .catalog__s {
    display: flex;
  }
  .catalog__left {
    width: calc(928 / 1920 * 100%);
  }

  .catalog__close-img::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #b7b7b7;
  }

  .catalog__close-text {
    width: 84%;
  }

  .catalog__close-img {
    position: relative;
    min-width: 173px;
    border: 2px solid #b7b7b7;
    height: 140px;
  }

  .event {
    padding-top: 72px;
    padding-bottom: 69px;
  }

  .event__year {
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end;
    font-weight: 400;
    margin-bottom: 3px;
  }

  .event__head {
    margin-bottom: 20px;
  }

  .swiper-slide__down {
    padding: 13px 33px 50px 32px;
  }

  .event-head {
    margin-bottom: 10px;
  }
  .event__about {
    margin-bottom: -5px;
  }

  .projects__p {
    width: 100%;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #cacaca;
    opacity: 0.9;
  }

  .swiper-pagination-container {
    display: block;
    margin-bottom: 50px;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
    margin-left: 6px;
    margin-right: 8px;
  }
  .swiper-projects {
    overflow: hidden;
    margin-left: 54px;
    margin-right: 50px;
  }
  .projects__img {
    height: 130px;
  }

  .projects__img1 {
  }

  .footer__contacts {
    flex-direction: column;
    padding: 46px 0 38px 0;

    align-items: flex-start;
  }
  .footer__right {
    margin-left: 0;
  }

  .footer__form {
    margin-top: 31px;
    margin-left: 0;
    align-items: baseline;
  }

  .footer__btn {
    margin-top: 0;
    margin-left: 22px;
    padding: 11px 38px 11px 41px;
  }

  .footer__right {
    margin-top: 30px;
  }

  .footer__social-icon svg {
    width: 60px;
    height: 60px;
  }

  .footer__parth {
    padding: 43px 0px 45px 0;
    align-items: center;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1300px) {
  .swiper-container-more {
  }

  .hero__head {
    line-height: 91px;
    margin-bottom: -3px;
  }
  .hero__text {
    margin-bottom: 157px;
  }

  .catalog__jobs {
    display: none;
  }
  .catalog__left-img {
    margin-bottom: 32px;
  }
  .catalog__down-text {
    width: 100%;
  }
  .burger__line-1 {
    width: 36px;
    height: 3px;
  }
  .hero__wrap {
    padding: 112px 0 145px 0;
  }
  .gallery__slide {
    object-fit: scale-down;
  }
  .swiper-right-btns {
    margin-bottom: 18px;
  }
  .gallery__wrap {
    min-width: 280px;
    margin-right: 41px;
  }
  .swiper-right-btns {
    margin-left: 10px;
  }
  .gallery {
    padding-bottom: 77px;
  }
  .catalog__down-year {
    margin-bottom: 15px;
  }
  .swiper-slide__down {
    padding: 11px 33px 50px 32px;
  }
  .projects {
    padding-bottom: 78px;
  }
  .footer__contacts {
    flex-direction: column;
    padding: 37px 0 38px 0;
    align-items: flex-start;
  }
  .footer__addres {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
  }
  .footer__name {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-top: 6px;
  }
  .footer__form {
    margin-top: 27px;
    margin-left: 0;
    align-items: baseline;
  }
}

@media (max-width: 1010px) {
  .burger__line-1 {
    width: 36px;
    height: 3px;
  }
  .gallery__slide {
    object-fit: contain;
  }

  .catalog__jobs {
    display: flex;
  }
  .event {
    padding-top: 62px;
  }

  .hero__head {
    width: 90%;
  }

  .hero__wrap {
    margin-left: 0px;
  }

  .hero__text {
    width: 100%;
  }
  .about__text {
    width: 100%;
  }
  .gallery__down {
    margin-top: 46px;
    margin-bottom: 17px;
  }

  .gallery__H {
    flex-wrap: wrap;
  }

  .choices {
    max-width: 281px;
  }

  .sliders::before {
    background-position: center;
    bottom: 50px;
  }

  .sliders::after {
    bottom: 20px;
  }

  .gallery {
    padding-bottom: 79px;
  }
  .catalog__wrap {
    margin-bottom: 20px;
  }

  .catalog__path {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .catalog__right {
    width: 100%;
    margin-left: 0;
    margin-bottom: 56px;
  }

  .catalog__s {
    display: none;
  }

  .catalog__name:not(:last-child) {
    margin-right: 53px;
  }

  .catalog__left {
    width: 100%;
  }

  .swiper-slide__down {
    padding: 16px 20px 50px 36px;
  }

  .projects__img {
    height: 108px;
  }
  .projects__p {
    width: 99%;
  }

  .projects__head {
    padding-bottom: 14px;
  }

  .event__head {
    margin-bottom: 24px;
  }

  .event__heading {
    margin-bottom: 7px;
  }

  .event__about {
    margin-bottom: 29px;
    width: 99%;
  }

  .event__heading:nth-child(2) {
  }

  .projects__partner {
    margin-bottom: 26px;
  }

  .projects__p {
    margin-bottom: 29px;
  }
  .projects__img {
    height: 108px;
  }
  .projects__img1 {
    width: 210px;
  }
  .projects {
    padding-bottom: 80px;
  }
  .footer__contacts {
    padding: 47px 0 38px 0px;
  }
  .footer__input__name {
    padding: 11px 113px 5px 22px;
  }

  .footer__input__phone {
    padding: 11px 111px 5px 22px;
  }
  .footer__form {
    margin-top: 10px;
    margin-left: 0;
    align-items: baseline;
  }
  .footer__btn {
    margin-left: 0;
    margin-top: 13px;
    padding: 10px 29px 11px 27px;
  }

  .header__form {
    margin-top: 26px;
    z-index: 5;
    width: 96%;
    height: 60px;
    right: 0.8%;
    background-color: black;
  }

  .header__search-open {
    width: 80%;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
  }

  .header__close-btn {
    margin-left: 3%;
    background-image: url(/img/adaptive__img/X\ _768.svg);
  }

  .footer__maps {
    max-width: 768px;
  }
  .swipper-gallery {
    margin-left: 0;
  }

  .swiper-container-more {
  }
  .swipper-gallery {
    margin-right: auto;
    width: calc(1920 / 1920 * 100%);
  }
}

@media (max-width: 770px) {
  .footer__input__phone {
    margin-left: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 620px) {
  .logo {
    width: 100px;
    height: 44px;
  }
  .header-d {
    padding-right: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .burger__line-1 {
    width: 25px;
    height: 2px;
  }

  .burger__line-2 {
    width: 16px;
    height: 2px;
  }
  .burger__line-3 {
    width: 10px;
    height: 2px;
  }
  .burger__object {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .burger__line {
    margin-top: 6px;
  }

  .header__search-btn {
    width: 20px;
    height: 30px;
    background-image: url(/img/adaptive__img/searh__625.svg);
    margin-top: 6px;
  }

  .header__search-open {
    max-width: 100%;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
  }

  .header__btn-top {
    margin-top: 16px;
  }

  .header-path {
    align-items: center;
  }

  .burger-w {
    margin-top: 0;
  }
  .header-d {
    padding-right: 15px;
    padding-left: 15px;
  }

  .burger-w {
    height: 30px;
  }

  .logo {
    width: 95px;
    height: 45px;
  }
  .header__search-btn {
    justify-content: space-around;
  }

  .hero__wrap {
    justify-content: center;

    padding: 32px 0px 45px 0;
    margin-right: 11px;
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .choices[data-type*="select-one"]::after {
    content: "";
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 3.5%;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
    background-image: url(/img/gallery__arrow.svg);
  }
  .swiper-right-btns {
    margin-top: 21px;
    margin-left: 0;
  }
  .choices {
    width: 300px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero__head {
    font-size: 32px;
    width: 98%;
    justify-content: center;
    line-height: 42px;
    margin-bottom: 3px;
    text-align: center;
    margin-left: 7px;
  }

  .hero__text {
    color: var(--head-font-color);
    line-height: 17px;
    font-weight: normal;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 11px;
    margin-left: 8px;
    padding: 0 5px 0 0;
    width: 91%;
  }

  .hero-img-one {
    background-image: url(/img/adaptive__img/hero__img__320-1.jpg);
  }
  .hero-img-two {
    background-image: url(/img/adaptive__img/hero__img__320-2.jpg);
  }
  .hero-img-three {
    background-image: url(/img/adaptive__img/hero__img__320-2.jpg);
  }

  .hero__rs {
    font-size: 12px;
    padding: 11px 17px 15px 22px;
    margin: 0 auto;
    margin-top: 32px;
  }
  .header-d {
    padding-left: 15px;
    padding-right: 9px;
  }
  .header__search-btn {
    width: 25px;
  }
  .about__head {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
  }

  .about__text {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    width: 105.4%;
    margin-right: 0;
    padding-right: 23px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 42px;
  }

  .gallery {
    padding: 43px 0 26px 0;
  }
  .gallery__head {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
  .choices {
    max-width: 290px;
  }
  .choices__inner {
    min-height: 42px;
  }
  .gallery__path {
    padding-top: 19px;
  }
  .gallery__head-f {
    margin-bottom: 12px;
  }
  .gallery__wrap {
    max-width: 320px;
    margin-right: 8px;
  }
  .gallery__down {
    margin-top: 37px;
  }
  .swiper-1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .gallery__down {
    margin-bottom: 7px;
  }
  .swiper-right-btns {
    margin-top: 20px;
  }
  .grapper {
    height: 366px;
  }
  .swiper-right-btns {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .catalog__head {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
  .catalog__container {
    padding-top: 49px;
  }
  .catalog__text {
    display: none;
  }
  .catalog__good {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  .catalog__head {
    margin-bottom: -5px;
  }
  .ui-accordion .ui-accordion-header {
    padding: 17px 8px 21px 0px;
  }
  .catalog__icon {
    width: 30px;
    height: 30px;
    right: 1px;
  }
  .catalog__icon::before {
    content: "";
    position: absolute;
    top: 35%;
    right: 37%;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(45deg);
  }

  .catalog__painter {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ui-accordion .ui-accordion-content {
    height: 100%;
    padding: 24px 0px 23px 0;
  }

  .catalog__domes {
    margin-bottom: 19px;
  }
  .catalog__down-text {
    width: 98%;
  }
  .event__head {
    font-family: Open Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
  }
  .event {
    padding-top: 63px;
    padding-bottom: 0px;
  }
  .s {
    padding-right: 50px;
  }
  .event__right {
    display: none;
  }
  .event__year {
    margin-bottom: 10px;
  }
  .event__head {
    margin-bottom: 10px;
  }
  .swiper-slide__down {
    padding: 18px 22px 51px 23px;
  }
  .s {
    padding-right: 50px;
  }
  .event__about {
    margin-bottom: 21px;
    width: 96%;
  }
  .swiper-pagination-container {
    margin-bottom: 43px;
  }
  .projects__text {
    margin-bottom: 13px;
  }
  .projects__p {
    margin-bottom: 9px;
  }

  .projects__head {
    margin-top: -4px;
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;

    padding-bottom: 0;
  }

  .catalog__domes {
    margin-bottom: 17px;
  }
  .catalog__down-text {
    width: 100%;
  }

  .projects__link {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .projects__p {
    width: 98%;
  }
  .projects__partner {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .projects__img1 {
    width: 110px;
  }
  .projects__img {
    height: 66px;
  }
  .projects__partner {
    margin-bottom: 11px;
  }
  .swiper-projects {
    overflow: hidden;
    margin-left: 47px;
    margin-right: 50px;
  }
  .event-slider-prev {
    position: absolute;
    top: 28%;
    left: 0;
  }
  .event-slider-next {
    position: absolute;
    top: 28%;
    right: 5px;
  }
  .footer__name {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer__inner {
    border-top: 0;
  }
  .projects {
    padding-bottom: 4px;
  }
  .footer__addres {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7px;
    display: block;
  }
  .footer__form {
    margin-top: 15px;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer__input__name {
    padding: 4px 80px 3px 21px;
  }

  .burger__menu {
    height: 100vh;
  }
  .option {
    margin-top: 20px;
  }
  .footer__input__phone {
    margin-left: 0;
    padding: 2px 78px 2px 22px;
    margin-top: 0;
  }
  .footer__btn {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
    padding: 11px 35px 11px 33px;
  }
  .footer__text-none {
    display: none;
  }
  .footer__right-head {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer__right {
    margin-top: 20px;
  }
  .footer__item svg {
    width: 50px;
    height: 50px;
  }

  .footer__maps {
    min-width: 320px;
    max-height: 320px;
  }
  .ui-accordion .ui-accordion-content {
    height: 100%;
    padding: 24px 0px 21px 0;
  }

  .catalog__down-text {
    width: 98.5%;
  }
  .event__head {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }

  .event__heading:nth-child(2) {
    width: 90%;
  }

  .event {
    padding-top: 43px;
    padding-bottom: 0px;
  }
  .s {
    padding-right: 20px;
  }
  .swiper-slide__down {
    padding: 21px 13px 49px 23px;
  }
  .event__heading {
    margin-bottom: 3px;
  }

  .projects {
    padding-top: 28px;
  }
  .projects__p {
    margin-bottom: -3px;
  }
  .footer__contacts {
    padding: 41px 0 17px 0px;
  }
  .footer__parth {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__social-icon svg {
    height: 50px;
  }
  .projects__down {
    margin-top: 85px;
  }

  .footer__logo {
    height: 79px;
    width: 110px;
  }

  .footer__parth {
    padding: 19px 0px 0px 0;
    align-items: center;
  }
  .footer__social__icon {
    margin-left: 0;
  }
  .footer__social-icon svg {
    width: 50px;
    height: 55px;
  }
  .footer__logo {
    margin-top: 13px;
    height: 45px;
    width: 97px;
  }

  .catalog__domes {
    margin-bottom: 17px;
  }
  .burger__link {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
  .burger__item-inspire {
    display: block;
  }
  .burger__menu {
    height: 356px;
    padding: 47px 31px 38px 14px;
  }
  .burger__list {
    margin-bottom: 17px;
  }
  .burger__personal {
    padding: 9px 31px 11px 31px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 100px;
  }
  .burger__btn svg {
    margin-right: 2px;
    height: 10px;
    width: 10px;
  }
  .is-close-btn-burger .burger__line-3 {
    width: 22px;
    transform: translatey(-50%) rotate(-45deg);
  }
  .burger__line-1 {
    width: 22px;
    height: 2px;
  }

  .header__form {
    margin-top: -1px;
    z-index: 5;
    width: 100%;
    height: 44px;
    right: 0;
    background-color: black;
    top: 2px;
    border-radius: 0;
    padding: 42px 8px 31px 54px;
  }

  .header__close-btn {
  }
  .header__close-btn {
    width: 29px;
    height: 23px;
    background-image: url(/img/adaptive__img/X.svg);
    margin-top: -35px;

    margin-left: 27px;
  }

  .just-validate-error-label {
    position: absolute;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -58px;
    margin-left: 14px;
  }

  .swipper-gallery {
    margin-left: 0;
    margin-right: auto;
    width: calc(1920 / 1920 * 100%);
  }
  .event__about {
    width: 90%;
    margin-bottom: -11px;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    background-color: black;
  }

  .catalog__jobs {
    display: none;
  }
  .catalog__s {
    display: block;
  }
  .catalog__right {
    margin-bottom: 51px;
  }
  .catalog__left-img {
    margin-bottom: 25px;
  }
  .sliders::after {
    bottom: 0;
  }
  .gallery__slide {
    object-fit: contain;
  }
}
